# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\逆向工程\imooc-muxin-mybatis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
